@font-face {
    font-family: "Geneva";  
    src: url("./fonts/Geneva\ Regular.ttf");
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Telegrafico";  
    src: url("./fonts/telegrafico.ttf");
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Terminal Dosis";  
    src: url("./fonts/Terminal\ Dosis-Medium.ttf");
}
